.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px;
}

.carousel-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 10px; // Usa gap invece di margin-right
}

.carousel-card {
  flex: 0 0 calc((100% - (4 * 10px)) / 5); /* Mostra 5 carte alla volta */
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  height: 280px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  border: 0px solid transparent;
}

.carousel-card:hover {
  transform: scale(1.05);
  border: 3px solid white;
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.nav-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}

.nav-btn:focus {
  outline: none;
}
