<app-layout>
  <figure class="posterContainer">
    <img *ngIf="posterPath" [src]="getImageUrl(posterPath)" alt="{{ title }}" />
  </figure>
  <div class="container absolute left-0 right-0 top-12 md:top-28">
      <div class="detailHeader pt-10">
        <figure class="cover px-2">
          <img *ngIf="posterPath" [src]="getImageUrl(posterPath)" alt="{{ title }}" />
        </figure>
        <h1 class="title px-2">{{title}}</h1>
      </div>
      <div class="detailInfo">
        <div class="flex justify-start items-center gap-3 px-2">
          <div class="smallBtn"><i class="fa-solid fa-rectangle-ad"></i></div>
          <div class="smallBtn"><i class="fa-regular fa-closed-captioning"></i></div>
          <div *ngIf="releaseDate">{{ releaseDate }}</div>
          <div>•</div>
          <div *ngIf="ageRating">{{ ageRating }}</div>
        </div>
        <div *ngIf="genres.length > 0" class="flex justify-start items-center gap-3 px-2">
          <small class="cursor-pointer hover:underline" *ngFor="let genre of genres">{{ genre }}</small>
        </div>
      </div>
      <div class="detailControlls">
        <div class="flex justify-start items-center gap-3 px-1">
          <button class="bigBtn bg-white text-black"><i class="pe-2 fa-solid fa-play fa-xl"></i>{{playString}}</button>
          <button class="bigBtn">{{trailerString}}</button>
          <button class="radiusBtn"><i class="fa-solid fa-plus px-1"></i></button>
          <button class="radiusBtn"><i class="fa-solid fa-users"></i></button>
        </div>
      </div>
      <div class="detailDesription">
        <p>{{description}}</p>
      </div>
  </div>

  <div class="container pt-10">
    <h2 class="underline">Suggeriti per te</h2>
  </div>

  <app-slider [cards]="randomMovies"></app-slider>
  
</app-layout>

