header{
    // background-color: #151822;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
}
header nav .container{
    justify-content: space-between;
    padding: 26px 8px;
    align-items: center;
}