<div class="bgModal" *ngIf="isOpen">

  <div class="modal">
    <div class="modalHeader">
      <div class="flex justify-between items-center">
        <h1 class="modalTitle">{{ title }}</h1>
        <button type="button" class="close" (click)="closeModal()">
          <i class="fa-solid fa-xmark fa-xl"></i>
        </button>
      </div>
    </div>

    <div class="modalContent">
      <div [innerHTML]="contentHtml"></div>
    </div>

    <div class="modalFooter" [class.hidden]="!showFirstBtn && !showSecondBtn">
      <div class="flex items-center justify-between">
        <button class="btn secondaryBtn only:ml-auto" *ngIf="showSecondBtn" (click)="closeModal()">
          {{btnOption2}}
        </button>
        <button class="btn primaryBtn only:ml-auto" *ngIf="showFirstBtn" (click)="closeModal()">
          {{btnOption1}}
        </button>
      </div>
    </div>

  </div>

</div>
