<footer class="text-white">
    <div class="xlFooter hidden md:block">
        <div class="logoContainer py-4">
            <a href="#">
                <img class="h-[50px]" [src]="logo" alt="logo">
            </a>
        </div>
        <div class="container">
            <ul class="flex justify-between items-center py-4">
                <li *ngFor="let link of data?.links">
                    <a href="#">{{link.value}}</a>
                  </li>
            </ul>
            <div class="flex justify-center pb-4">
                <small>{{data?.disneyRights}}</small>
            </div>
        </div>
    </div>
    <div class="cloneBanner">
        <div class="container">
            <p class="text-center">{{data?.paragraph}}</p>
        </div>
    </div>
</footer>
